<header class="container" id="resume">
    <div class="content">
        <span class="blur"></span>
        <span class="blur"></span>
        <h4>PORTFOLIO</h4>
        <h1>Hi, I'm <span>Arief Mahendra</span>,  Fullstack Developer</h1>
        <p>
            Bachelor's Degree in Electrical Engineering. I am passionate about Software development. and have a proven track record of backend Developer to build Booking Room App, as fronted developer for develop ITERA procurement website and have been involved in a Mirocle project.
        </p>
        <div class="button">
            <a href="#skill">Get Started</a>
        </div>
    </div>
    <div>
        <div class="image">
            <img [src]="headerUrl" [alt]="headerAlt">
        </div>
    </div>
</header>