<header class="container" id="resume">
    <div class="content fade-in-up" appScrollAnimation>
        <span class="blur"></span>
        <span class="blur"></span>
        <h4>PORTFOLIO</h4>
        <h1>Hi, I'm <span>Arief Mahendra</span>, Fullstack Developer</h1>
        <p>
            Bachelor's Degree in Electrical Engineering with a strong passion for Fullstack Development. I specialize in
            building scalable backend systems and intuitive frontend interfaces. My portfolio includes diverse projects
            ranging from the <strong>BNI Smart Remittance</strong> system and <strong>Booking Room App</strong> to IoT
            solutions like <strong>Mirocle</strong>. I am dedicated to creating efficient, high-quality web applications
            using modern technologies like Go, Java, Angular, and React.
        </p>
        <div class="button-container">
            <div>
                <a href="#skill" class="btn-download">Get Started</a>
            </div>
            <div>
                <a href="assets/cv.pdf" target="_blank" download="Arief_Mahendra_CV.pdf" class="btn-download">Download
                    CV</a>
            </div>
        </div>

    </div>
    <div>
        <div class="image fade-in-up" appScrollAnimation>
            <img [src]="headerUrl" [alt]="headerAlt">
        </div>
    </div>
</header>