<footer class="container" id="contact">
    <span class="blur"></span>
    <span class="blur"></span>
    <div class="footer-wrap">
        <div class="footer-column">
            <h3>Arief Mahendra</h3>
            <p><q>Thanks for all</q></p>
        </div>
        <div class="footer-column">
            <h3>Social Media</h3>
            <ul>
                <li class="sosmed-column">
                    <img [src]="instagramUrl" alt="instagram">
                    <a href="https://www.instagram.com/mahend.arief/?hl=id" target="_blank" rel="noopener">Instagram</a>
                </li>
                <li class="sosmed-column">
                    <img [src]="linkedinUrl" alt="linkedin logo">
                    <a href="https://www.linkedin.com/in/ariefmahendra/" target="_blank" rel="noopener">Linkedin</a>
                </li>
                <li class="sosmed-column">
                    <img [src]="telegramUrl" alt="telegram logo">
                    <a href="https://t.me/xwaynot"target="_blank" rel="noopener">Telegram</a>
                </li>
                <li class="sosmed-column">
                    <img [src]="githubUrl" alt="github logo">
                    <a href="https://github.com/ariefmahendra"target="_blank" rel="noopener">Github</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyright">
    Copyright © 2024 Arief Mahendra. All Rights Reserved.
</div>
