.project-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.thumbnail{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.portfolio-content {
  color: white;
  width: 100%;
  align-items: center;
  margin-top: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.portfolio-content a{
  color : white;
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
}

.portfolio-content a:hover{
  color: blue;
}

.portfolio-content p{
  margin-top: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.portfolio{
  border: 1px solid transparent;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  background-color: #27272a;
  margin: auto auto 4rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 600px;
}

.portfolio img{
    width: 100%;
    margin: auto;
}

.portfolio:hover {
    border-color: white;
    background-color: #323232;
    transform: scale(1.05);
}

.link-menu {
  display: flex;
  gap: 0.5rem;
}
