<section class="container" id="experience">
    <h2 class="header">Project</h2>
    <div class="exp">
        <div class="portfolio">
          <div class="thumbnail">
            <img [src]="bookingRoomUrl" [alt]="portfolio1Alt">
            <div class="thumbnail-title">
              <h3>Booking Room App</h3>
              <a href="https://github.com/ariefmahendra/booking_room_app.git">Github</a>
            </div>
          </div>
          <div class="portfolio-content">
            <p>ini adalah content yang harus diisi dengan descripsi aplikasi nya </p>
          </div>
        </div>
        <div class="portfolio">
          <div class="thumbnail">
            <img [src]="bookingRoomUrl" [alt]="portfolio1Alt">
            <div class="thumbnail-title">
              <h3>Booking Room App</h3>
              <a href="https://github.com/ariefmahendra/booking_room_app.git">Github</a>
            </div>
          </div>
          <div class="portfolio-content">
            <p>ini adalah content yang harus diisi dengan descripsi aplikasi nya </p>
          </div>
        </div>
        <div class="portfolio">
          <div class="thumbnail">
            <img [src]="procurementUrl" alt="procurement-url">
            <div class="thumbnail-title">
              <h3>Procurement Website</h3>
              <a href="https://github.com/ariefmahendra/PengadaanBarang.git">Github</a>
            </div>
          </div>
          <div class="portfolio-content">
            <p>In this project, my role is as a frontend developer. I used several technologies to create the look of the website, including Tailwind CSS, Google Chart, and Laravel framework.</p>
          </div>
        </div>
        <div class="portfolio">
          <div class="thumbnail">
            <img [src]="mirocleUrl" alt="mirocle-thumbnail">
            <div class="thumbnail-title">
              <h3>Mirror and Stationary Cycle (Mirocle)</h3>
              <a href="https://github.com/ariefmahendra/MirocleHardware-2.0.git">Github</a>
              <a href="https://www.youtube.com/watch?v=OhRBVEAL6w4">Youtube</a>
            </div>
          </div>
          <div class="portfolio-content">
            <p>Mirocle is an innovative therapeutic product that specifically designed to help post stroke patients in restoring their motor function. By combining concept of mirror therapy and stationary bike, Mirocle provides a stimulus that is to the brain and the patient's nervous system.</p>
            <p>In this project, my team and I designed the Mirocle project with the features that are:
              Monitoring heart rate, oxygen saturation, calories burned, number of pedal revolutions and duration.
              Monitoring is IoT.
              Monitoring is done through the website.
              The protocol used for communication is MQTT with QoS level 0.
              data can be downloaded in csv format</p>
          </div>
        </div>
    </div>
</section>
