<section class="container" id="experience">
    <h2 class="header">Project</h2>
    <div class="exp">
        <div class="portfolio">
            <img [src]="portfolio1Url" [alt]="portfolio1Alt">
            <h3>Booking Room App</h3>
        </div>
        <div class="portfolio">
            <img [src]="portfolio1Url" [alt]="portfolio1Alt">
            <h3>Procurement Website</h3>
        </div>
        <div class="portfolio">
            <img [src]="portfolio1Url" [alt]="portfolio1Alt">
            <h3>Mirror and Stationary Cycle (Mirocle)</h3>
        </div>
    </div>
</section>
