<section class="container" id="contact">
    <div class="contact-content fade-in-up" appScrollAnimation>
        <h2>Get In Touch</h2>
        <p>I'm currently open to new opportunities. Whether you have a question or just want to say hi, I'll try my best
            to get back to you!</p>
        <div class="contact-links">
            <a href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=mahend.arief@gmail.com" rel="noopener"
                target="_blank" class="btn">Say Hello</a>
            <a href="https://www.linkedin.com/in/ariefmahendra/" target="_blank" class="btn-outline">LinkedIn</a>
        </div>
    </div>
</section>