<nav> 
    <div class="nav-name"><a href="index.html">Arief Mahendra</a></div>
    <ul class="nav-link">
        <li id="link1" class="link"><a href="#resume">Resume</a></li>
        <li id="link1" class="link"><a href="#skill">Skill</a></li>
        <li id="link1" class="link"><a href="#experience">Experience</a></li>
        <li id="link1" class="link"><a href="#organization">Organization & Volunteering</a></li>
        <li id="link1" class="link"><a href="#contact">Contact</a></li>
    </ul>
    <div class="btn-navbar">
        <a href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=mahend.arief@gmail.com" rel="noopener" target="_blank">Hire Me</a>
    </div>

    <!-- responsive -->
    <div class="hamburger" onclick="toggleMobileMenu()">
        <span class="hamburger-1"></span>
        <span class="hamburger-2"></span>
        <span class="hamburger-3"></span>
    </div>
</nav>
