section .header{
    margin-bottom: 1rem;
    color: white;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.header-skill{
    margin-bottom: 1rem;
    color: white;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.skill ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill li{
    color: white;
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 1rem;
    background-color: #27272a;
    transition: all 0.2s ease-in-out;
}

.skill li:hover{
    border-color: white;
    background-color: #323232;
    transform: scale(1.1);
}